{% extends "/layouts/default.twig" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div id="header"></div>
    <div id="login"></div>
    <script src="/dist/header.js"></script>
    <script src="/dist/login.js"></script>
{% endblock %}