{% extends "/layouts/default.twig" %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div id="header"></div>
    <div id="register"></div>
    <script src="/dist/header.js"></script>
    <script src="/dist/register.js"></script>
{% endblock %}